.publicacion {
    border: 1px solid #ddd;
    padding: 0.5%;
    margin: 0 0.5% 0.5%;
}
.publicacion:hover {
    box-shadow: 1px 1px 3px blue;
}
.publicacion-content {
    overflow-y: scroll;
    height: 5em;
    padding-right: 0.5%;
}
#loading {
    position: fixed;
    right: 0;
    top: 0;
    color: dodgerblue;
}
.img-responsive {
    width: 150px !important;
}